@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-list {
  background: linear-gradient(to right, #f1f1f1, #f2f2f2);
  margin-top: 60px;
}

.main-list-filter{
  background: linear-gradient(to right, #f1f1f1, #f2f2f2);
  margin-top: 208px;
}

.App-link {
  color: #61dafb;
}

.header-filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;

}

.header-filter-list{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.time-option {
  background-color: white;
  padding: 0.75rem;
  margin: 5px;
  border-radius: 0.375rem;
}

.selected-filter {
  background-color: #4465f0;
  color: white;
  flex: 1 1;
  border-radius: 10px;
  padding: 5px;
  margin: 0px 5px 10px 5px;
  font-weight: 300
}

.main-grid {
  padding: 5px;
}

.item-list-car {
  display: flex;
  align-items: center;
}

.item-car {
  background: #f7f7f7;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: #bebebe;
  font-size: 20px;
}

.list-start {
  background-color: white;
  border-radius: 0.375rem;
  padding: 0px 10px;
}

.garage {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 1.25rem;
}

.range {
  padding: 10px 20px 10px 20px;
  background: white;
  border-radius: 5px;
  margin: 11px;
}

.garage-list {
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.375rem;
  margin-top: 0.75rem;
}

.garage-list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfdddd;
  padding: 10px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.garage-list-item:last-child {
  border-bottom: none;
}

.garage-list::-webkit-scrollbar-thumb {
  background-color: #999;
}

.garage-list::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  left: -8px;
  position: absolute;
  top: 0;
  width: 24px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 7px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked+label:after {
  opacity: 1;
}

.category-car {
  padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-top: 20px;
    margin-bottom: 70px;
    padding-bottom: 200px;
}


.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.button-left {
  width: 48%;
  background: #e6e6e6;
  padding: 15px;
  border-radius: 7px;
  color: black;
  font-weight: 600;
}

.button-right {
  width: 48%;
  padding: 15px;
  border-radius: 7px;
  background-color: #4465f0;
  color: white;
  font-weight: 600;

}

.ammount-trip {
  color: #4465f0;
}

.time-option-choose {
  border: 2px solid #0052ef;
}



.vertical-list {
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.375rem;
  margin-top: 0.75rem;
}

.sub-title {
  color: #b6b0b0;
}

.cancle-filter {
  position: absolute;
  right: 20px;
  font-weight: 700;
  color: #0049ef;
}

.day {
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}

.selectedDate {
  background: #4465f0;
  color: white;
  border-radius: 10px;
  width: 50px;
  padding: 2px 10px 4px 10px;
}

.name-date {
  color: #b6b0b0;
}

.filter-button {
  display: flex;
  align-items: center;
  width: 430px;
}

.filter-button .button {
  background-color: #e5e5e5;
  color: black;
  flex: 1 1;
  border-radius: 10px;
  padding: 5px;
  margin: 0px 5px 10px 5px;
  font-weight: 300;
}

.filter-icon {
  background-color: #e5e5e5;
  color: black;
  display: flex;
  align-items: center;
  flex: 0.7 1;
  justify-content: space-around;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 5px 10px 5px;
  font-weight: 300;
}

.list-travel {
  padding: 10px;
}

.item-travel {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}

.right-header {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 300;
}

.time-range {
  color: #ababab;
  font-size: 15px;
  font-weight: 300;
}

.header-item-travel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.body-item-travel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.start-point {
  background: linear-gradient(to right, #f8f8f8, #fdfdfd);
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  width: 50%;
  text-align: end;
  margin-right: 10px;
  font-size: 14px;
}

.end-point {
  background: linear-gradient(to left, #f8f8f8, #fdfdfd);
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  width: 50%;
  text-align: start;
  margin-left: 10px;
  font-size: 14px;
}

.img-arrow {
  width: 22px;
  height: 22px;
}

.path {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  position: relative;
}


.path::before {
  left: 0;
}

.path::after {
  right: 0;
}

.path::before,
.path::after {
  content: '';
  position: absolute;
  top: 57%;
  width: 5px;
  height: 5px;
  background-color: #0049ef;
  border-radius: 50%;
  transform: translateY(-50%);
}

.img-transport {
  width: 40px;
  height: 40px;
}

.path::before {
  left: 0;
}

.path::after {
  right: 0;
}

.line-left {
  color: #d5d8d9;
  margin-right: 5px;
}

.line-right {
  color: #0049ef;
  margin-left: 5px;
}

.body-transport {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 21px;
}

.rating {
  display: flex;
  justify-content: end;
  align-items: center;
}

.text-rating {
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;
  margin-left: 5px;
}

.text-tranport {
  font-size: 14px;
}

.transport-information {
  display: flex;
  align-items: center;
}

.transport-image {
  background: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
}

.text-tranport-note {
  color: #0047ee;
  font-weight: 500;
  font-size: 14px;
}

.heart-rating {
  width: 25px;
  height: 25px;
}


.holes-lower {
  position: relative;
  margin: 20px;
  border: 1px dashed #aaa;

  &:before,
  &:after {
    content: '';
    height: 27px;
    width: 27px;
    position: absolute;
    border-radius: 50%;
  }

  &:before {
    top: -13px;
    left: -50px;
    background-color: #f1f1f1;
  }

  &:after {
    top: -13px;
    right: -50px;
    background-color: #f2f2f2;
  }
}

.footer-item-travel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.continue-button {
  background: #f3f5fe;
  border-radius: 5px;
  padding: 5px;
  color: #4465f0;
  font-weight: 600;
}

.amount-trip {
  font-weight: bold;
  color: #003aeb;
}

.selected-days_n {
  color: white;
}

.slider-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  --ms-overflow-style: none;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.slider {
  display: flex;
  margin-bottom: 10px;
}

.slider ul {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.slider li {
  width: 14%;
  text-align: center;
  display: inline-block;
}

.days_t {
  font-size: 20px;
  font-weight: 600;
}

.days_n {
  color: #c8c8c8;
  margin-top: -5px;
}